$font-stack: sans-serif;
$primary-color: #333;
$backgroud-color: rgb(230, 225, 225);
$nav-bgcolor: #1a1f30;
$nav-color: #ffffff;


// Mobile
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

@mixin extra-small {
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin small-down {
  @media (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin small-only {
  @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin small-up {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium-only {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin medium-up {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}


// Content

body, code {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $backgroud-color;
}

nav {
  right:0;
  top:0;
  left:0;
  background-color: $nav-bgcolor;
  color: $nav-color;
  padding: 10px;
  min-height: 40px;
  .logo {
    float: left;
    font-size: 30px;
    @include small-down {
      font-size: 25px;
    }
  }
  .menu{
    float: right;
    font-size: 30px;
    @include small-down {
      font-size: 10px;
    }
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left:40px;
  
  @include small-down {
    font-size: 30px;
    padding-left:10px;
    h1 {
      font-size: 30px;
    }
  }
  
  a {
    color: $nav-bgcolor;
  }
  
  ul, li {
    list-style-type: none;
    padding-left: 5px;
  }
  h1,h2,h3,h4,h5{
    margin: 1px;
  }

}

.item {
  display: inline-block;
  padding: 0px 5px;
  margin: 5px 5px;
}

nav {
  a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: none;
  }
}


